.search-title {
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 18px!important;
}

.search-input {
  margin-top: 7px;
  display: block!important;
  font-size: 14px!important;
}

.search-checkbox {
  margin-top: 7px;
}

.search-checkbox span {
  font-size: 14px!important;
}